
    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
          <div class="header-body">
            <div class="row align-items-center py-4">
              <div class="col-lg-6 col-7">
                <h6 class="h2 text-white d-inline-block mb-0">Video Details</h6>
              </div>

            </div>
          </div>
        </div>
      </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-10">

            <div class="card">
                <div class="card-header">
                  <h2 class="h2 mb-0">Video Title</h2>
                </div>
                <div class="card-header d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <a href="#">
                      <img src="assets/img/theme/team-1.jpg" class="avatar">
                    </a>
                    <div class="mx-3">
                      <h3 class="text-dark font-weight-600 text-md">{{video?.title}}</h3>
                      <small class="d-block text-muted">Uploaded on: {{video?.date_added | date:'MMMM d,y'}}</small>
                    </div>
                  </div>
                  <!-- <div class="text-right ml-auto">
                    <button type="button" class="btn btn-sm btn-primary btn-icon" data-toggle="modal" data-target="#approveForm" >
                      <span class="btn-inner--icon"><i class="fa fa-check" aria-hidden="true"></i>
                      </span>
                      <span class="btn-inner--text">Approve</span>
                    </button>
                    <button type="button" class="btn btn-sm btn-danger btn-icon">
                        <span class="btn-inner--icon"><i class="fa fa-trash" aria-hidden="true"></i></span>
                        <span class="btn-inner--text">Reject</span>
                      </button>
                  </div> -->
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-3">
                            <h4>Category</h4></div>
                        <div class="col-md-9">
                          {{video?.category}}
                        </div>
                        <div class="col-md-3">
                            <h4>URL</h4></div>
                        <div class="col-md-9">
                            <a href="{{video?.video_link}}" target="_blank">{{video?.video_link}}</a>
                            <a href="{{video?.video_link}}" class="ml-2 btn btn-sm btn-primary" target="_blank">
                            Watch</a>
                        </div>

                    </div>

                    <hr>
                    <h2 class="h2 mb-1">Video Description</h2>
                    {{video?.desc}}
                </div>
              </div>
        </div>
      </div>

    </div>


    <!--APPROVE VIDEO MODAL-->
    <div class="modal fade" id="approveForm" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-modal="true">
        <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
            <div class="modal-body p-0">
              <div class="card bg-secondary border-0 mb-0">
                <div class="card-body px-lg-5 py-lg-5">
                  <div class="text-center text-muted mb-4">
                    <small>Please provide a category to the video</small>
                  </div>
                  <form role="form">
                    <div class="form-group">
                        <label class="form-control-label" for="videocategory"
                          >Video Category</label
                        >

                        <select class="form-control" id="videocategory"
                          ><option value="">Select video category</option
                          ><option value="water">Water</option
                          ><option value="wastewater"
                            >Wastewater</option
                          ><option value="stormwater"
                            >Stormwater</option
                          ><option value="research"
                            >Innovation &amp; Research</option
                          ><option value="sustainable"
                            >Sustainable Development</option
                          ><option value="mgmt"
                            >Management &amp; Finance</option
                          ><option value="leg"
                            >Legislative &amp; Regulatory</option
                          ></select
                        >
                      </div>


                    <div class="text-center">
                      <button type="button" class="btn btn-primary my-4">Approve Video</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
