
    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
          <div class="header-body">
            <div class="row align-items-center py-4">
              <div class="col-lg-6 col-7">
                <h6 class="h2 text-white d-inline-block mb-0">Instructor Details</h6>
              </div>

            </div>
          </div>
        </div>
      </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-10">

            <div class="card">
                <div class="card-header">
                  <h2 class="h2 mb-0">Basic Details</h2>
                </div>
                <div class="card-header d-flex align-items-center">
                  <div class="d-flex align-items-center">
                   
                    <div class="mx-3">
                      <h3 class="text-dark font-weight-600 text-md">{{instructor?.firstname}} {{instructor?.lastname}}</h3>
                      <small class="d-block text-muted">{{instructor?.email}}</small>
                    </div>
                  </div>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h4>Phone</h4></div>
                        <div class="col-md-9">
                          {{instructor?.mobile_no}}
                        </div>
                        <div class="col-md-3">
                            <h4>Organisation</h4></div>
                        <div class="col-md-9">
                          {{instructor?.organization}}
                        </div>

                    </div>

                    <hr>
                    <h2 class="h2 mb-4">Course Details</h2>
                    <div class="row">
                        <div class="col-md-3">
                            <h4>Course Title</h4></div>
                        <div class="col-md-9">
                            {{instructor?.proposed_course_title}}
                        </div>
                        <div class="col-md-3">
                            <h4>Course Type</h4></div>
                        <div class="col-md-9">
                          {{instructor?.course_type}}
                        </div>
                        <div class="col-md-3">
                            <h4>Course Topic</h4></div>
                        <div class="col-md-9">
                          {{instructor?.proposed_course_topic}}
                        </div>

                        <div class="col-md-3">
                            <h4>Course Description</h4></div>
                        <div class="col-md-9">
                            <p>
                              {{instructor?.proposed_desc}}
                            </p>
                        </div>
                    </div>

                </div>
              </div>
        </div>
      </div>

    </div>
