<div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row justify-content-center align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h1 class="h1 text-white text-center d-inline-block mb-0">Welcome to OneWater Academy Dashboard</h1>

          </div>

        </div>
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-4 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <h5 class="card-title text-uppercase text-muted mb-0">blog requests</h5>
                    <span class="h1 font-weight-bold mb-0">{{ blogs?.length }}</span>
                    <div class="mt-2">
                      <a routerLink="/blogs" class="btn btn-sm btn-primary">See all</a>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="icon">
                      <img src="assets/img/icons/blog.svg" alt="">
                    </div>
                  </div>

                </div>


              </div>
            </div>
          </div>

          <div class="col-xl-4 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <h5 class="card-title text-uppercase text-muted mb-0">authors requests</h5>
                    <span class="h1 font-weight-bold mb-0">{{authors?.length}}</span>
                    <div class="mt-2">
                      <a routerLink="/authors" class="btn btn-sm btn-primary">See all</a>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="icon">
                      <img src="assets/img/icons/author.svg" alt="">
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-xl-4 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <h5 class="card-title text-uppercase text-muted mb-0">videos requests</h5>
                    <span class="h1 font-weight-bold mb-0">{{videos?.length}}</span>
                    <div class="mt-2">
                      <a routerLink="/received-videos" class="btn btn-sm btn-primary">See all</a>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="icon">
                      <img src="assets/img/icons/video.svg" alt="">
                    </div>
                  </div>

                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">


    <div class="row">
      <div class="col-xl-8">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Page visits</h3>
              </div>
              <div class="col text-right">
                <a href="#" class="btn btn-sm btn-primary">See all</a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Page name</th>
                  <th scope="col">Visitors</th>
                  <th scope="col">Unique users</th>
                  <th scope="col">Bounce rate</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    /argon/
                  </th>
                  <td>
                    4,569
                  </td>
                  <td>
                    340
                  </td>
                  <td>
                    <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    /argon/index.html
                  </th>
                  <td>
                    3,985
                  </td>
                  <td>
                    319
                  </td>
                  <td>
                    <i class="fas fa-arrow-down text-warning mr-3"></i> 46,53%
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    /argon/charts.html
                  </th>
                  <td>
                    3,513
                  </td>
                  <td>
                    294
                  </td>
                  <td>
                    <i class="fas fa-arrow-down text-warning mr-3"></i> 36,49%
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    /argon/tables.html
                  </th>
                  <td>
                    2,050
                  </td>
                  <td>
                    147
                  </td>
                  <td>
                    <i class="fas fa-arrow-up text-success mr-3"></i> 50,87%
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    /argon/profile.html
                  </th>
                  <td>
                    1,795
                  </td>
                  <td>
                    190
                  </td>
                  <td>
                    <i class="fas fa-arrow-down text-danger mr-3"></i> 46,53%
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card">
          <!-- Card header -->
          <div class="card-header d-flex justify-content-between">
            <!-- Title -->
            <h5 class="h3 mb-0">Latest Author Requests</h5>

            <button type="button" routerLink="/authors" class="btn btn-sm btn-primary">See All</button>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <div class="loader">
              <img src="assets/img/icons/loader.webp" alt="">
              <div class="text">Fetching authors requests...</div>
            </div>
            <div class="no-content" *ngIf="noContent">
              <img src="assets/img/icons/not-found.svg" alt="">
              <h5 class="text text-muted">
                No authors requests to show.
              </h5>
            </div>
            <!-- List group -->
            <ul class="list-group list-group-flush list my--3">
              <li class="list-group-item px-0" *ngFor="let author of pendingauthors">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <!-- Avatar -->
                    <a href="#" class="avatar rounded-circle">
                      <img alt="Image placeholder" [src]="author?.image">
                    </a>
                  </div>
                  <div class="col ml--2">
                    <h4 class="mb-0">
                      <a href="#!">{{author?.name}}</a>
                    </h4>

                    <small>{{author?.date_added | date: 'MMMM y,d'}}</small>
                  </div>
                  <div class="col-auto">
                    <button type="button" [routerLink]="['/view-author/',author?._id]" class="btn btn-sm btn-primary">View</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

